/ .input-bar
/ 	input name="_method" type="hidden" value="put"
/ 	input type='range' min='50' max='250' value="#{@speed}" step='10' name="speed" onchange="$('#boxL').text($(this).value);" 
/ 	#boxL
/ 	input type='range' min='10' max='100' value="#{@pitch}" step='10' name="pitch" onchange="$('#boxR').text($(this).value);" 
/ 	#boxR
