

<a href="/" class="btn btn-primary">REFRESH</a>

<ul class="list-group">
	<% @data.each do |verse| %>

<!-- display chorus -->
		<% @verse_number =  @data.index(verse) %>
		<% if @verse_number % 2 == 0 && @verse_number>0 %>

			<% @chorus.keys.length.times do |i| %>

				<% @d = @chorus[i+1]  %>

				<% puts "#{i.to_s}--#{@d}---" %>
				<%= partial :"partials/chorus"  %>

			<% end %>
			</br>
		<% end %>

<!-- display verses -->
		<% verse.keys.length.times do |i| %>

			<% @d = verse[i+1]  %>

			<% puts "#{i.to_s}--#{@d}---" %>
			<%= partial :"partials/verse" unless @d.nil?  %>

		<% end %>
		</br>
	<% end %>
<!-- display end choruses -->
	
		</br>
		<% @chorus.keys.length.times do |i| %>

			<% @d = @chorus[i+1]  %>

			<% puts "#{i.to_s}--#{@d}---" %>
			<%= partial :"partials/chorus"  %>
		<% end %>
	
</ul>

