

<a href="/" class="btn btn-primary">REFRESH</a>

<ol class="list-group">
	<% @data.each do |d| %>
	<li class="list-group-item">
		<span class="badge" ><%= d[1] %></span>
		<span class="badge" ><%= d[2] %></span>
		<%= d[0] %>
	</li>
	<% end %>
</ol>

