

<a href="/" class="btn btn-primary">REFRESH</a>

<ul class="list-group">
	<% @data.each do |verse| %>

		<% verse.keys.length.times do |i| %>
			<% @d = verse[i+1]  %>
			<% puts "#{i.to_s}--#{@d}---" %>
			<%= partial :"partials/list"  %>
		<% end %>
		</br>
	<% end %>
</ul>

