

<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Pattern
    <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">HTML</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">CSS</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">JavaScript</a></li>
      <li role="presentation" class="divider"></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">About Us</a></li>
    </ul>
  </div>
</div>

<select name="versetype" action="/" method="POST">
	<option name="ABAB" value="ABAB">ABAB</option>
	<option name="AABB" value="AABB">AABB</option>
	<option name="ABCA" value="ABCA">ABCA</option>
	<option name="AAAA" value="AAAA">AAAA</option>
</select>
<input type="submit" value="send" class="btn btn-primary">
</br>
<a href="/" class="btn btn-primary">REFRESH</a>

<ul class="list-group">
	<% @data.each do |verse| %>

<!-- display chorus -->
		<% @verse_number =  @data.index(verse) %>
		<% if @verse_number % 2 == 0 && @verse_number>0 %>

			<% @chorus.keys.length.times do |i| %>

				<% @d = @chorus[i+1]  %>

				<% puts "#{i.to_s}--#{@d}---" %>
				<%= partial :"partials/chorus"  %>

			<% end %>
			</br>
		<% end %>

<!-- display verses -->
		<% verse.keys.length.times do |i| %>

			<% @d = verse[i+1]  %>

			<% puts "#{i.to_s}--#{@d}---" %>
			<%= partial :"partials/verse" unless @d.nil?  %>

		<% end %>
		</br>
	<% end %>
<!-- display end choruses -->
	
		</br>
		<% @chorus.keys.length.times do |i| %>

			<% @d = @chorus[i+1]  %>

			<% puts "#{i.to_s}--#{@d}---" %>
			<%= partial :"partials/chorus"  %>
		<% end %>
	
</ul>

