.right
	== partial ('partials/flash')

	#reasons
		- ERRORS.each do |e|
			span.badge style="font-size: 1em;" = e

		#lineids
		form#lines_feedback action='/lines'
			
			&submit value="Submit!"

	

ul#lines.list-group
	- @lines.each do |line|
		span.checkmark id="#{line.id}"
		li#clickable name="#{line.id}"

		 	= line.line
			span.badge.reason


javascript:
	var ids = [];
	var index;
	$('li#clickable').click(function(){
		var myId = $(this).attr('name');
		index = ids.indexOf(myId);

		index == -1 ? $(this).removeClass('great').addClass('selected').addClass('latest') : $(this).removeClass('selected');
		index == -1 ? ids.push(myId) : ids.splice(index, 1);

		$(this).siblings().removeClass('latest');
		$('#lineids').html('<p>' + ids + '</p>');
	});

	$('#reasons span').click(function(){
		var why = $(this).text();
		$('li.latest span').text(why);
	});

	$('span.checkmark').click(function(){
		var checkId = $(this).attr('id');
		$('li[name=' + checkId + ']').toggleClass("great")
												.removeClass('selected').removeClass('latest');
		index = ids.indexOf(checkId);
		alert(ids);
		if (index != -1) {ids.splice(index, 1);$('#lineids').html('<p>' + ids + '</p>');}

	});

	function populate_id_hash(string){

		var tmphash = {};

		JSON.parse(string,
						function(index) {
							var id = $(this)[index];
							var reason = $('li[name='+ id + '] span.reason').text();
							tmphash[id] = reason;					
		});

		delete tmphash[undefined];
		return tmphash;
	}

	function successFunction(){
		ids = [];
		$('#lineids').html('<p></p>');
		$('li').find('span.reason:first').text('');

		$('li').removeClass('selected').removeClass('latest');

		sendFlash("Thanks for sending!");
	}

	$('#lines_feedback').submit(function() {

		event.preventDefault();

		var badIdArray = "[" + $('#lineids p').text() + ']';
		var badIdHash = populate_id_hash(badIdArray);


		var goodIdArray = []

		$( "li.great" ).each(function( index ) {
  				goodIdArray.push( $(this).attr('name') );
		});

		var goodIdHash = {}

		for (var i = 0; i < goodIdArray.length; i++) {
			  goodIdHash[goodIdArray[i]] = '';
			}

		var idHash = {
			bad : badIdHash,
			good : goodIdHash
		}
		
		var destination =  $(this).attr('action');
		var datatosend = JSON.stringify(idHash);

        $.ajax({
			    url: destination,
			    type: "POST",
			    data: {ids: datatosend},
			    success: successFunction()
			});

        });


 


