.right
	#reasons
		span.badge style="font-size: 1em;" Repetition
		span.badge style="font-size: 1em;" POS_Grammar
		span.badge style="font-size: 1em;" Punctuation
		span.badge style="font-size: 1em;" Pronouns
		span.badge style="font-size: 1em;" Last Word
		#lineids
		form#lines_feedback action='/lines'
			
			&submit value="Submit!"
	

ul#lines.list-group
	- @lines.each do |line|
		li#clickable name="#{line.id}"
		 	= line.line
			span.badge.reason

javascript:
	var ids = [];
	$('li#clickable').click(function(){
		var myId = $(this).attr('name');
		var index = ids.indexOf(myId);

		index == -1 ? $(this).addClass('selected').addClass('latest') : $(this).removeClass('selected');
		index == -1 ? ids.push(myId) : ids.splice(index, 1);

		$(this).siblings().removeClass('latest');
		$('#lineids').html('<p>' + ids + '</p>');
	});

	$('#reasons span').click(function(){
		var why = $(this).text();

		$('li.latest span').text(why);


	});

	$('#lines_feedback').submit(function() {

		var idHash = {};
		var myIds = $('#lineids p').text();		
		JSON.parse("[" + myIds + ']',

			function(a) {
				var k = $(this)[a];
				var reason = $('li[name='+ k + '] span.reason').text();
				idHash[k] = reason;					
		  	});

		delete idHash[undefined];

		var datatosend = JSON.stringify(idHash);
		
		var destination =  $(this).attr('action');
        $.post(destination,{ids: datatosend});

        });


